body {
    margin: 25px;
    padding: 5px;
    line-height: 2;
  }

h1 {
    margin: 0;
}

.header {
    display:flex;
    width: 100%;
    align-items: center;
    font-size: 24px;
    padding: 2px;
  }
  
#navigation {
    display: flex;
    width: 75%;
    align-items: align-right;
    justify-content: space-evenly;
    cursor: pointer;
    text-decoration: underline;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
  }

  #navigation :hover {
    color: white
    background-color: green;
    box-shadow: 5px 5px 5px 5px red;
  }

.myself-page {
    font-family: cursive;
    font-size: 25px;
}

  h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    margin-top: 20px;
    font-style: italic;    
  }

  .card {
    display: display;
  }

  a :hover {
    background-color: green;
    box-shadow: 5px 5px 5px 5px red;
  }

  h3 {
    font-style: italic;
    font-size: 20px;
    color: blue;
  }

  .division-header {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    color: blue;
  }

  #contact {
    padding-top: 20px;
    margin-bottom: 300px;
  }

  .contact {
    margin: 0px 5%;
    display: grid;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-rows: 2px 2px 2px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "tel e-mail linked-in"
  }
  
  #tel {
    grid-area: tel;
  }
  
  #e-mail {
    grid-area: e-mail;
  }
  
  #linked-in {
    grid-area: linked-in;
  }
  
  /* media Queries*/
  @media only screen and (max-width: 1000px) {
    #navigation {
     display: none;
    }
   }

   @media only screen and (max-width: 600px) {
    #contact {
      position: static;
      margin: 20px;
    }
    #tel {
      grid-area: Tel;
    }
    
    #e-mail {
      grid-area: E-Mail;      
    }
    
    #linked-in {
      grid-area: Linked-in;      
    }
    
    #contact {
      grid-template-rows: 100px 100px 100px;
      grid-template-columns: 1fr;
      grid-template-areas:
      "Tel"
      "E-Mail"
      "Linked-in"
    }
  }